In [25]:

list_of_numbers = list(range(1,6))
print(list_of_numbers)

[1, 2, 3, 4, 5]

In [28]:

replacing_number = int(input('enter the number:'))

list_of_numbers[2] = replacing_number

In [29]:

list_of_numbers

[1, 2, 9, 4, 5]

In [30]:


list_of_numbers.pop()

5

In [31]:


list_of_numbers

[1, 2, 9, 4]

In [33]:

print(len(list_of_numbers))

4

In [40]:

beatles= []



beatles.append('John Lennon')
beatles.append( 'Paul McCartney')
beatles.append( 'George Harrison')

In [42]:

beatles

['John Lennon', 'Paul McCartney', 'George Harrison']

In [54]:

for members in ["Stu Sutcliffe", "Pete Best"]:
    beatles.append(input("add {} to the list: ".format(members)))

In [56]:

del beatles[3]
del beatles[3]

['John Lennon', 'Paul McCartney', 'George Harrison']

In [58]:

beatles.insert(0,'Ringo Starr')

In [60]:

beatles

['Ringo Starr', 'John Lennon', 'Paul McCartney', 'George Harrison']

In [ ]:

beatles = []


beatles.append("John Lennon")
beatles.append("Paul McCartney")
beatles.append("George Harrison")


for members in ["Stu Sutcliffe", "Pete Best"]:
    beatles.append(input("Add {} to the list: ".format(members)))


del beatles[3]
del beatles[3]


beatles.insert(0, "Ringo Starr")


print(beatles)

In [62]:

numbers = [11, 9, 7, 3, 1,4,4 ,11, 9, 3]


unique_numbers = []


for number in numbers:


    if number not in unique_numbers:
        unique_numbers.append(number)

print(unique_numbers)

[11, 9, 7, 3, 1, 4]